<div id="parcelTracking_widget_ID" class="eqLogic-widget eqLogic parcelTracking_widget parcelTracking_widget_#id# parcelTracking" style="min-width:500px !important; max-width:500px !important; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

	<div class="text-center widget-name">
		<span class="reportModeVisible">#name_display#<span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;">#name_display#<span class="object_name">#object_name#</span></a>
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refreshAll_id#" onclick="jeedom.cmd.execute({id: #refreshAll_id#});" title="{{Rafraichir les informations}}">
		   <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
	   	</span>
		<span class="cmd refresh pull-right cursor" onclick="addParcel()" title="{{Ajouter un colis}}">
			<i class="fas fa-plus" style="color:var(--eqTitle-color)!important;"></i>
		</span>
	</div>
			
	<div class="container-fluid">
		
		<div id="list_states" class="col-xs-12 label Cmd#states_id# table_states#id# "></div>				
				
	</div>
	
	#divGraphInfo#
	
	<script>
    
		//----- Theme colors & optional parameters
		function setTheme#id#() {
			var link = document.createElement('link');
			link.type = 'text/css';
			link.rel = 'stylesheet';
			
			if ($('body').attr('data-theme').endsWith('Dark')) {
				link.href = 'plugins/parcelTracking/core/template/dashboard/parcelTracking_global_dashboard_style_dark.css';
			}
			else if ($('body').attr('data-theme').endsWith('Light') || $('body').attr('data-theme').endsWith('Legacy')) {
				link.href = 'plugins/parcelTracking/core/template/dashboard/parcelTracking_global_dashboard_style_light.css';
			}
			document.head.appendChild(link);
		}

		function timedSetTheme#id#(occurence = 0){
			if ($('.parcelTracking_widget_#id#').length == 0) {
				return;
			}
			if ( $('body')[0].hasAttribute('data-theme') != true )  {
				occurence++;
				if (occurence > 40){
					return;
				}
				setTimeout( () => { timedSetTheme#id#(occurence); }, 500 );
				return;
			}
			setTheme#id#();
		}
		
		if ( $('body')[0].hasAttribute('data-theme') == true )  {
			setTheme#id#();
		}
		else  {
			timedSetTheme#id#(0);
		}
			
		$('body').on('changeThemeEvent', function (event,theme) {
			setTheme#id#();
		});
				
		//----- List Parcels
		var list = '#listParcels#';
		
		if ( list != null ) {
			var table = jQuery.parseJSON(list);
			var totalParcels = table.totalParcels - 1;		//On ne compte pas le widget dédié
												
			var table_html= "";
			table_html += '<ul class="list-group" style="text-align: left">';
			jQuery.each(table.parcels,function(key,parcel){
				if ( parcel.status != null ) { var status = parcel.status;} else { status = ''; }
				if ( parcel.id != null ) { var id = parcel.id;} else { id = ''; }
				if ( parcel.name != null ) { var name = parcel.name;} else { name = ''; }
				if ( parcel.trackingId != null ) { var trackingId = parcel.trackingId;} else { trackingId = ''; }
				if ( parcel.lastDate != null ) { var lastDate = parcel.lastDate;} else { lastDate = ''; }
				if ( parcel.lastTime != null ) { var lastTime = parcel.lastTime;} else { lastTime = ''; }
				if ( parcel.lastState != null ) { var lastState = parcel.lastState;} else { lastState = ''; }
				if ( parcel.lastLocation != null ) { var lastLocation = parcel.lastLocation;} else { lastLocation = ''; }				
				
				table_html += '<li class="list-group-item">';
				if ( status == 'Delivered') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-delivered.png" height="20" title="{{Délivré}}"/></span>'; }
				else if ( status == 'DeliveryFailure') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-delayed.png" height="20" title="{{Echec de livraison}}"/></span>'; }
				else if ( status == 'Exception') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-exception.png" height="20" title="{{Exception}}"/></span>'; }
				else if ( status == 'OutForDelivery') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-transit.png" height="20" title="{{En cours de livraison}}"/></span>'; }
				else if ( status == 'AvailableForPickup') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-pickup.png" height="20" title="{{Arrivé au point de retrait}}"/></span>'; }
				else if ( status == 'InTransit') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-transit.png" height="20" title="{{En transit}}"/></span>'; }
				else if ( status == 'InfoReceived') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-info.png" height="20" title="{{Informations de prise en charge reçues}}"/></span>'; }
				else if ( status == 'Expired') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-delayed.png" height="20" title="{{Expiré}}"/></span>'; }
				else if ( status == 'NotFound') { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-exception.png" height="20" title="{{Numéro de tracking inconnu}}"/></span>'; }
				else { table_html += '<span class="col-xs-1"><img src="plugins/parcelTracking/core/img/status-exception.png" height="20" title="{{Inconnu}}"/></span>'; }
				table_html += '<span class="col-xs-10 label span-item-title">'+name+' ('+trackingId+')</span>';
				table_html += '<span class="col-xs-1 fas fa-trash cursor eqLogicAction" onclick="removeParcel('+id+',\''+name+'\')" title="{{Supprimer le colis}}"></span>'
				table_html += '<span class="col-xs-12 label span-item-value">'+lastDate+' '+lastTime+'&nbsp&nbsp&nbsp&nbsp&nbsp'+lastState+'<br>'+lastLocation+'</span>';
				table_html +=  '</li>';
			});
			table_html += '</ul>';
			$('.table_states#id#').empty().append(table_html);
		}

		//----- Widget height
		var widegtHeight = 96*totalParcels + 30;
		$('.parcelTracking_widget').css('min-height', widegtHeight);
		$('.parcelTracking_widget').css('max-height', widegtHeight);
	
		//----- Remove parcel
		function removeParcel(eqLogicId, name) {
			var check = confirm("{{Etes-vous sûr de vouloir supprimer le colis }}" + name + " ?");
        	if (check == true) {
				$.ajax({
					type: "POST",
					url: "plugins/parcelTracking/core/ajax/parcelTracking.ajax.php",
					data: {
						action: "removeParcel",
						eqLogicId: eqLogicId,
					},
					dataType: 'json',
					error: function (request, status, error) {
						handleAjaxError(request, status, error);
					},
					success: function (data) { 			

						if (data.state != 'ok') {
							$('#div_alert').showAlert({message: '{{Erreur lors de la suppression du colis}}', level: 'danger'});
							return;
						}
						else  {
							$('#div_alert').showAlert({message: '{{Colis supprimé}}', level: 'success'});
						}
					}
				});
			}
		}

		//----- Add parcel
		function addParcel() {
			$('#mod_addParcel').dialog({title: "{{Ajout Colis}}"});
			$('body').append('<div id="mod_addParcel" style="overflow-x: hidden; overflow-y: hidden;"/>');
							$("#mod_addParcel").dialog({
									create: function(event, ui) { $(this).closest(".ui-dialog").find(".ui-dialog-titlebar").remove(); }, // Supprime la barre de titre entière
									autoOpen: false,
									modal: true,
									width: 400,
									height: 254,
							});
			$('#mod_addParcel').load('index.php?v=d&plugin=parcelTracking&modal=addParcel.parcelTracking&eqLogic_id='+'#id#').dialog('open');
		}

	</script>

</div>