<div id="parcelTracking_widget_ID" class="eqLogic-widget eqLogic noResize parcelTracking_widget parcelTracking_widget_#id# parcelTracking" style="min-width:518px !important; max-width:518px !important; min-height:357px; max-height:357px; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

	<div class="text-center widget-name">
		<span class="reportModeVisible">#name_display#<span class="object_name">#object_name#</span></span>
	   	<a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;">#name_display#<span class="object_name">#object_name#</span></a>
	   	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" onclick="jeedom.cmd.execute({id: #refresh_id#});" title="{{Rafraichir les informations}}">
		   <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
	   	</span>
		<span class="cmd refresh pull-right cursor" onclick="addParcel()" title="{{Ajouter un colis}}">
			<i class="fas fa-plus" style="color:var(--eqTitle-color)!important;"></i>
		</span>
		<span class="cmd refresh pull-right cursor" onclick="removeParcel('#id#', '#name_display#')" title="{{Supprimer le colis}}">
			<i class="fas fa-trash" style="color:var(--eqTitle-color)!important;"></i>
		</span>
	</div>
			
	<div class="container-fluid">
		
		<div>
			
			<div class="col-xs-4" id="tile" style="height:130px; width:150px;">
				<div class="col-xs-12" id="icon_tile" style="height:130px; "><span class="Cmd#status_id#"></span></div>
			</div>
			
			<div class="col-xs-8" id="tile" style="height:130px; width:350px;">
				<div class="col-xs-4" id="titre_tile" style="height:25px;">{{N° Colis}}</div>
				<div class="col-xs-8" id="value_tile" style="height:25px;">#trackingId#id##</div>
				<div class="col-xs-6" id="titre_tile" style="height:25px;">{{Transporteur}}</div>
				<div class="col-xs-6" id="value_tile" style="height:25px;"><span class="Cmd#carrier_id#"></span></div>
				<div class="col-xs-6" id="titre_tile" style="height:25px;">{{Origine}}</div>
				<div class="col-xs-6" id="value_tile" style="height:25px;"><span class="Cmd#origin_id#"></span></span></div>
				<div class="col-xs-6" id="titre_tile" style="height:25px;">{{Destination}}</div>
				<div class="col-xs-6" id="value_tile" style="height:25px;"><span class="Cmd#destination_id#"></span></div>
				<div class="col-xs-6" id="titre_tile" style="height:25px;">{{Date de livraison}}</div>
				<div class="col-xs-6" id="value_tile" style="height:25px;"><span class="Cmd#deliveryDate_id#"></span></div>
			</div>
			
			<div class="col-xs-12" id="tile" style="height:185px; width:506px;">
				<div id="list_states" class="label Cmd#states_id# table_states#id# "></div>
			</div>
					
		</div>
		
	</div>
	
	#divGraphInfo#
	
	<script>
    
		//----- Theme colors & optional parameters
		function setTheme#id#() {
			var link = document.createElement('link');
			link.type = 'text/css';
			link.rel = 'stylesheet';
			
			if ($('body').attr('data-theme').endsWith('Dark')) {
				link.href = 'plugins/parcelTracking/core/template/dashboard/parcelTracking_dashboard_style_dark.css';
			}
			else if ($('body').attr('data-theme').endsWith('Light') || $('body').attr('data-theme').endsWith('Legacy')) {
				link.href = 'plugins/parcelTracking/core/template/dashboard/parcelTracking_dashboard_style_light.css';
			}
			document.head.appendChild(link);
		}

		function timedSetTheme#id#(occurence = 0){
			if ($('.parcelTracking_widget_#id#').length == 0) {
				return;
			}
			if ( $('body')[0].hasAttribute('data-theme') != true )  {
				occurence++;
				if (occurence > 40){
					return;
				}
				setTimeout( () => { timedSetTheme#id#(occurence); }, 500 );
				return;
			}
			setTheme#id#();
		}
		
		if ( $('body')[0].hasAttribute('data-theme') == true )  {
			setTheme#id#();
		}
		else  {
			timedSetTheme#id#(0);
		}
			
		$('body').on('changeThemeEvent', function (event,theme) {
			setTheme#id#();
		});
		
		//----- Icon status
		jeedom.cmd.update['#status_id#'] = function(_options) {
			
			if ( _options.display_value == 'Delivered') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-delivered.png" height="80" title="{{Délivré}}"/></span>'); }
			else if ( _options.display_value == 'DeliveryFailure') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-delayed.png" height="80" title="{{Echec de livraison}}"/></span>'); }
			else if ( _options.display_value == 'Exception') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-exception.png" height="80" title="{{Exception}}"/></span>'); }
			else if ( _options.display_value == 'OutForDelivery') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-transit.png" height="80" title="{{En cours de livraison}}"/></span>'); }
			else if ( _options.display_value == 'AvailableForPickup') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-pickup.png" height="80" title="{{Arrivé au point de retrait}}"/></span>'); }
			else if ( _options.display_value == 'InTransit') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-transit.png" height="80" title="{{En transit}}"/></span>'); }
			else if ( _options.display_value == 'InfoReceived') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-info.png" height="80" title="{{Informations de prise en charge reçues}}"/></span>'); }
			else if ( _options.display_value == 'Expired') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-delayed.png" height="80" title="{{Expiré}}"/></span>'); }
			else if ( _options.display_value == 'NotFound') { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-exception.png" height="80" title="{{Numéro de tracking inconnu}}"/></span>'); }
			else { $('.Cmd#status_id#').empty().append('<span><img src="plugins/parcelTracking/core/img/status-exception.png" height="80" title="{{Inconnu}}"/></span>'); }
		}
		jeedom.cmd.update['#status_id#']({display_value:'#status#'});		
		
		//----- Infos
		jeedom.cmd.update['#carrier_id#'] = function(_options) {
			$('.Cmd#carrier_id#').empty().append('<span>'+_options.display_value+'</span>');
		}
		jeedom.cmd.update['#carrier_id#']({display_value:'#carrier#'});

		jeedom.cmd.update['#origin_id#'] = function(_options) {
			$('.Cmd#origin_id#').empty().append('<span>'+_options.display_value+'</span>');
		}
		jeedom.cmd.update['#origin_id#']({display_value:'#origin#'});
		
		jeedom.cmd.update['#destination_id#'] = function(_options) {
			$('.Cmd#destination_id#').empty().append('<span>'+_options.display_value+'</span>');
		}
		jeedom.cmd.update['#destination_id#']({display_value:'#destination#'});

		jeedom.cmd.update['#deliveryDate_id#'] = function(_options) {
			$('.Cmd#deliveryDate_id#').empty().append('<span>'+_options.display_value+'</span>');
		}
		jeedom.cmd.update['#deliveryDate_id#']({display_value:'#deliveryDate#'});
		
		//----- States
		jeedom.cmd.update['#states_id#'] = function(_options) {
			
			var isJSON;
			try {
        		jQuery.parseJSON(_options.display_value);
        		isJSON =  true;
    		} catch (e) {
        		isJSON =  false;
    		}
			if ( isJSON == true ) {
				var table = jQuery.parseJSON(_options.display_value);
				var nb_state = Object.keys(table.states).length
										
				var table_html= "";
				table_html += '<ul class="list-group" style="text-align: left">';
				jQuery.each(table.states,function(key,state){
					table_html += '<li class="list-group-item"><span class="label span-item" style="width:90px;">'+state.date+'<br>'+state.time+'</span><img src="plugins/parcelTracking/core/img/bullet-point.png" height="60"/><span class="label span-item" style="width:330px; text-align:left;">'+state.status+'<br>'+state.location+'</span></li>'
				});
				table_html += '</ul>';
				$('.table_states#id#').empty().append(table_html);
			}
		}
		jeedom.cmd.update['#states_id#']({display_value:'#states#'});

		//----- Remove parcel
		function removeParcel(eqLogicId, name) {
			var check = confirm("{{Etes-vous sûr de vouloir supprimer le colis }}" + name + " ?");
        	if (check == true) {
				$.ajax({
					type: "POST",
					url: "plugins/parcelTracking/core/ajax/parcelTracking.ajax.php",
					data: {
						action: "removeParcel",
						eqLogicId: eqLogicId,
					},
					dataType: 'json',
					error: function (request, status, error) {
						handleAjaxError(request, status, error);
					},
					success: function (data) { 			

						if (data.state != 'ok') {
							$('#div_alert').showAlert({message: '{{Erreur lors de la suppression du colis}}', level: 'danger'});
							return;
						}
						else  {
							$('#div_alert').showAlert({message: '{{Colis supprimé}}', level: 'success'});
						}
					}
				});
			}
		}

		//----- Add parcel
		function addParcel() {
			$('#mod_addParcel').dialog({title: "Ajout Colis"});
			$('body').append('<div id="mod_addParcel" style="overflow-x: hidden; overflow-y: hidden;"/>');
							$("#mod_addParcel").dialog({
									create: function(event, ui) { $(this).closest(".ui-dialog").find(".ui-dialog-titlebar").remove(); }, // Supprime la barre de titre entière
									autoOpen: false,
									modal: true,
									width: 400,
									height: 140,
							});
			$('#mod_addParcel').load('index.php?v=d&plugin=parcelTracking&modal=addParcel.parcelTracking&eqLogic_id='+'#id#').dialog('open');
		}
			
	</script>

</div>